---
# keep
---

@import "variables";
@import "mixins";
@import "athena";
@import "base";
@import "elements";
@import "layout";


[role="banner"] {
  margin-top: 1rem;
}

.sg-font-sizes {
  overflow:auto;
  .sample {
    width:3000px;
  }
}

.sg-handle {
  font-family: $font-family-sans-serif;
  font-size: $font-size-xxsmall;
  color: $gray-light;
}

.font-size-xxsmall { font-size: $font-size-xxsmall; }
.font-size-xsmall { font-size: $font-size-xsmall; }
.font-size-small { font-size: $font-size-small; }
.font-size-normal { font-size: $font-size-normal; }
.font-size-large { font-size: $font-size-large; }
.font-size-xlarge { font-size: $font-size-xlarge; }
.font-size-xxlarge { font-size: $font-size-xxlarge; }
