<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="author" content="{{ site.author }}">

    <link rel="icon" type="image/png" href="{{ '/img/favico.png' | prepend: site.baseurl }}" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/font-hack/2.013/css/hack-extended.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:800,400,300|Martel:900,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/css/main-fndtn.css' | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <script src="/bower_components/modernizr/modernizr.js"></script>

</head>
