<header class="site-header">

  <label class="drawer-trigger closed" for="drawer-controller"></label>
  <!-- Logo Begins -->
  <a class="site-logo logo-ffff" alt="{{ site.title }}"  href="{{ site.baseurl }}/">
    <span>Home</span>
  </a>
  <!-- @Logo Ends -->

</header>

<!-- Site Nav Begins -->
<nav class="site-nav columns">
  <div class="link-list">
    {% assign pages = site.pages | sort: "weight" %}
    <a class="page-link" href="{{ '/home.html' | prepend: site.baseurl }}">Home</a>
    {% for page in pages %}
    {% if page.title %}
    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
    {% endfor %}
  </div>
</nav>
<!-- @Site Nav Ends -->

<input id="drawer-controller" class="drawer-controller visually-hidden" type="checkbox" name="drawer">
