.simple-header {
  padding: 3rem 0 2.3rem;
  text-align: center;
}
.intro {
  margin-bottom: 1rem;
  h1 {
    font-family: $font-family-two;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1.4rem;
  }
  p {
    font-size: $font-size-normal;
    line-height: 2.1rem;
  }
}
.long-shadow-logo {
  width:110px;
  perspective: 1000px;
  margin: 0 auto;

  &,
  & .front,
  & .back {
    height:110px;
  }

  .flipper {
    transition: 0.3s;
    transform-style: preserve-3d;
    transition-timing-function: ease-in;
    // trigger rotation
  }

  &.hover .flipper, &:hover .flipper {
    transform: rotateY(180deg);
    cursor: pointer;
  }

  .front, .back {
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }

  .back { transform: rotateY(180deg); }
}

// temporary mobile padding fix for the simple layout
.layout-simple .page-content {
  padding-bottom: 5rem;
}

