@import '../bower_components/foundation/_scss/foundation/components/grid';

.resume-doc {
  background: {
    color: #fff;
  }
}

.resume-wrapper {
  @include grid-row();
}

.resume-content {
  @include grid-column(12);
  h1 {
    color: $color-font-two !important;
    @media print {
      color: $color-font-two !important;
    }
  }
  h3 {
    font-size: 1.5rem;
  }
  ul, ol, dl {
    font-size:0.9rem;
  }
}