//%vertical-rhythm {
//  margin-bottom: $spacing-unit / 2;
//}

// strange fix for flicker
.site-header, .drawer-trigger, .wrapper  {
  -webkit-backface-visibility: hidden;
}

.siteWrapper {
  height: 100%;
  background-color: #fff;
  border: none;
  // height issue fix
  overflow: auto;

  .drawer-controller ~ & {
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    transform: translate3d(0, 0, 0);
  }

  .drawer-controller:checked ~ &  {
    transform: translate3d(200px, 0, 0);
  }

}

.simpleHeader {
  padding: 3rem 0 2.3rem;
  text-align: center;
}

.contentWrapper {
  width: 100%;
  padding:0 1rem;

  @media only screen and (min-width: 40.0625em) {
    width: 58.3333333333%;
  }
}
