@use "sass:color";

$white:                   #FFF;

$gray-base:               #000 !default;
$gray-darker:             color.adjust($gray-base, $lightness: 13.5%) !default; // #222
$gray-dark:               color.adjust($gray-base, $lightness: 20%) !default;   // #333
$gray:                    color.adjust($gray-base, $lightness: 33.5%) !default; // #555
$gray-light:              color.adjust($gray-base, $lightness: 46.7%) !default; // #777
$gray-lighter:            color.adjust($gray-base, $lightness: 93.5%) !default; // #eee

$sea-buckthorn-lighter:   #FFCB77;
$sea-buckthorn-light:     #FFBB4E;
$sea-buckthorn:           #F6A523;
$sea-buckthorn-dark:      #CD8107;
$sea-buckthorn-darker:    #A26400;

$flamingo-lighter:        #FFA186;
$flamingo-light:          #FF815C;
$flamingo:                #F46136;
$flamingo-dark:           #D83C0F;
$flamingo-darker:         #A92803;

$ship-gray-lighter:       #78767B;
$ship-gray-light:         #575659;
$ship-gray:               #363537;
$ship-gray-dark:          #0B0B0B;
$ship-gray-darker:        #0C090E;

$horizon-lighter:         #BDD3E7;
$horizon-light:           #89ACCB;
$horizon:                 #5B85AA;
$horizon-dark:            #3C6992;
$horizon-darker:          #235481;

$fiord-lighter:           #8387A4;
$fiord-light:             #5C6287;
$fiord:                   #414770;
$fiord-dark:              #2B3159;
$fiord-darker:            #191F47;

$color-one:       $sea-buckthorn;
$color-two:       $flamingo;
$color-three:     $ship-gray;
$color-four:      $horizon;
$color-five:      $fiord;

$color-font-one:  $ship-gray;
$color-font-two:  $flamingo;
$color-font-three:$sea-buckthorn;
$color-font-four: $horizon;
$color-font-five: $white;

$color-bg-one:    $white;
$color-bg-two:    $horizon;
$color-bg-three:  $ship-gray;
$color-bg-four:   $flamingo;
