<!DOCTYPE html><!--

    ,...  ,...  ,...  ,...                                       ,,    ,,
  .d' "".d' "".d' "".d' ""                           `7MM      `7MM    db
  dM`   dM`   dM`   dM`                                MM        MM
 mMMmm mMMmm mMMmm mMMmm`7Mb,od8 ,6"Yb.  `7MMpMMMb.    MM  ,MP'  MM  `7MM  `7MMpMMMb.
  MM    MM    MM    MM    MM' "'8)   MM    MM    MM    MM ;Y     MM    MM    MM    MM
  MM    MM    MM    MM    MM     ,pm9MM    MM    MM    MM;Mm     MM    MM    MM    MM
  MM    MM    MM    MM    MM    8M   MM    MM    MM    MM `Mb.   MM    MM    MM    MM
.JMML..JMML..JMML..JMML..JMML.  `Moo9^Yo..JMML  JMML..JMML. YA..JMML..JMML..JMML  JMML.

-->
<html>

  {% include head.html %}

  <body>

    <!-- Site Nav Begins -->
    <nav class="site-nav columns">
      <div class="link-list">
        {% assign pages = site.pages | sort: "weight" %}
        <a class="page-link" href="{{ '/home.html' | prepend: site.baseurl }}">Home</a>
        {% for page in pages %}
        {% if page.title %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
        {% endfor %}
      </div>
    </nav>
    <!-- @Site Nav Ends -->

    <input id="drawer-controller" class="drawer-controller visually-hidden" type="checkbox" name="drawer">

    <div class="site-wrapper">

      {% include header.html %}

      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}

      {% include analytics.html %}

      {% include foot.html %}

    </div>

  </body>

</html>
