<!DOCTYPE html><!--

    ,...  ,...  ,...  ,...                                       ,,    ,,
  .d' "".d' "".d' "".d' ""                           `7MM      `7MM    db
  dM`   dM`   dM`   dM`                                MM        MM
 mMMmm mMMmm mMMmm mMMmm`7Mb,od8 ,6"Yb.  `7MMpMMMb.    MM  ,MP'  MM  `7MM  `7MMpMMMb.
  MM    MM    MM    MM    MM' "'8)   MM    MM    MM    MM ;Y     MM    MM    MM    MM
  MM    MM    MM    MM    MM     ,pm9MM    MM    MM    MM;Mm     MM    MM    MM    MM
  MM    MM    MM    MM    MM    8M   MM    MM    MM    MM `Mb.   MM    MM    MM    MM
.JMML..JMML..JMML..JMML..JMML.  `Moo9^Yo..JMML  JMML..JMML. YA..JMML..JMML..JMML  JMML.

-->
<html>

{% include head.html %}

<body>
<div class="site-wrapper">

  <header class="simple-header">
    {% include logo-flip.html %}
  </header>

  <div class="page-content ">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

</div>

{% include analytics.html %}

</body>

</html>
