.site-logo {

  @function ratio-height-calc($width) {
    $ratio: 102 177;
    @return nth($ratio, 2) / nth($ratio, 1) * $width;
  }
  $w: rem-calc(30);
  $h: rem-calc(ratio-height-calc(30));

  .site-logo-container {
    $pad-x: 1rem;
    $pad-y: 2rem;
    display: inline-block;
    position:absolute;
    left: 50%;
    bottom: -($h/2) - ($pad-y/1.5);
    margin-left: -($w/2) - (2*$pad-x);
    padding: $pad-x $pad-y;
    background-color: $color-bg-one;
    border-radius: 50%;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
  }
  .site-logo-icon {
    display: inline-block;
    width: $w;
    height: $h;
    background-image: url('/img/logo-ffff.png');
    background-size: $w $h;
    background-repeat: no-repeat;
  }
}

.site-header {
  @include clearfix;
  background-color: $color-five;
  position: relative;
  padding-top: 1rem;
  .wrapper {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    @media #{$medium-up} {
      margin-bottom: 0.9rem;
    }
  }
}

.site-tagline {
  @media #{$small-only} {
    margin-bottom: 0.5rem;
    text-align: center;
  }
  a {
    font-family: $font-family-one;
    font-size: $font-size-small;
    text-transform:uppercase;
    color: rgba($white, 0.9);
  }
}

.site-nav {
  @media #{$small-only} {
    margin-bottom: 3.5rem;
    text-align: center;
  }
  @media #{$medium-up} {
    text-align: right;
  }
  .page-link {
    font-family: $font-family-one;
    font-size: $font-size-small;
    margin-left: 1rem;
    text-transform:uppercase;
    color: rgba($white, 0.5);
  }
}
